.img {
    background-image: url(images/coding.jpg);
   
}

.navbar {
    width: 100%;
    background-color: #c7c2c2;
    overflow: auto;
  }
  /* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 10%; 
    text-align: left;
}